{% extends "layouts/default.html" %}
{% block title %}Sign in - Conduit{% endblock %}
{% block content %}

<div class="auth-page">
        <div class="container page">
            <div class="row">

                <div class="col-md-6 offset-md-3 col-xs-12">
                    <h1 class="text-xs-center">Sign in</h1>
                    <p class="text-xs-center">
                        <a href="/register">Need an account?</a>
                    </p>

                        <ul class="error-messages">
                        </ul>

                    <form method="post" action="/login">
                            <fieldset class="form-group">
                              <input name="username" class="form-control form-control-lg" type="email" placeholder="Email">
                            </fieldset>
                            <fieldset class="form-group">
                              <input name="pwd" class="form-control form-control-lg" type="password" placeholder="Password">
                            </fieldset>
                        <button type="submit" class="btn btn-lg btn-primary pull-xs-right">
                            Sign in
                        </button>
                    </form>
                </div>

            </div>
        </div>
</div>

{% endblock %}
